@inherits LayoutComponentBase
@using BlazorIdleGame.Client.Services.Character
@using BlazorIdleGame.Client.Services.Auth
@using BlazorWebGame.Shared.DTOs
@using BlazorIdleGame.Client.Components
@using BlazorIdleGame.Client.Components.Character
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>