<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorWebGame</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav-menu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="backpack" Match="NavLinkMatch.All">
                <span class="oi oi-briefcase" aria-hidden="true"></span> 背包
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="battle">
                <span class="oi oi-bolt" aria-hidden="true"></span> 战斗
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="battle-demo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 战斗演示
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gathering">
                <span class="oi oi-sun" aria-hidden="true"></span> 采集
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mining">
                <span class="oi oi-cog" aria-hidden="true"></span> 挖矿
            </NavLink>
        </div>
        <!-- 新增的钓鱼链接 -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fishing">
                <span class="oi oi-droplet" aria-hidden="true"></span> 钓鱼
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="professions">
                <span class="oi oi-people" aria-hidden="true"></span> 职业
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cooking">
                <span class="oi oi-fire" aria-hidden="true"></span> 烹饪
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="alchemy">
                <span class="oi oi-beaker" aria-hidden="true"></span> 炼金
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="blacksmithing">
                <span class="oi oi-wrench" aria-hidden="true"></span> 锻造
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jewelcrafting">
                <span class="oi oi-gem" aria-hidden="true"></span> 珠宝加工
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="leatherworking">
                <span class="oi oi-scissors" aria-hidden="true"></span> 制皮
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tailoring">
                <span class="oi oi-tag" aria-hidden="true"></span> 裁缝
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="engineering">
                <span class="oi oi-cog" aria-hidden="true"></span> 工程学
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shop">
                <span class="oi oi-cart" aria-hidden="true"></span> 商店
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reputation">
                <span class="oi oi-star" aria-hidden="true"></span> 声望
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="server-api-test">
                <span class="oi oi-data-transfer-upload" aria-hidden="true"></span> 服务端API测试
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api-test">
                <span class="oi oi-code" aria-hidden="true"></span> 新API服务测试
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}