@* Backup of original Battle.razor for reference *@
@page "/battle-backup"

@* This file contains the original Battle.razor content for reference during refactoring *@
<div class="alert alert-info">
    <h4>Original Battle.razor (Backup)</h4>
    <p>This is a backup of the original Battle.razor file for reference during the refactoring process.</p>
    <p>The original file contained extensive local game logic that needs to be removed.</p>
</div>